@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/*        Table of Contents          */
/* ================================= */
/*  -layout              ~~~ L.43    */
/**     -main-content    ~~~ L.59   **/
/**     -row styling     ~~~ L.96   **/
/**     -column headings ~~~ L.163  **/
/**     -form inputs     ~~~ L.191  **/
/*  -components          ~~~ L.228   */
/**     -custom checkbox ~~~ L.288  **/

:root {
  --clr-bookshelf: rgb(114, 76, 6);
  --clr-remove-button: rgba(242, 146, 116, 0.7);
  --clr-read-button-read: rgba(132, 251, 194, 0.7);
  --clr-read-button-not-read: rgba(194, 194, 194, 0.7);
  --clr-add-book-button: rgba(251, 242, 163, 0.8);
  --clr-checkbox-checked: rgba(156, 147, 253, 0.7);
  
  --clr-remove-button-hover: rgb(177, 15, 15);
  --clr-read-button-hover: rgb(68, 68, 68);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

html,
body,
.main-content {
  width: 100%;
  height: 100%;
}

/* layout */

body {
  padding: 1em 6em;
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(45deg, rgba(250, 189, 189, 0.575), rgba(164, 241, 238, 0.568));
  background-attachment: fixed;
}

h2,
h3,
p {
  font-size: 2.2rem;
}

/** main-content **/

.bookshelf {
  padding-inline: 0;
  margin-bottom: 2em;
  width: 100%;
  min-height: 90%;
  border-radius: 6px;
  background-color: white;

  display: flex;
  flex-direction: column;

  position: relative;

  border: 1px solid gray;
  box-shadow: 0 8px 0.9rem 0.1rem rgb(0 0 0 / 0.3);
}

.bookshelf:has(.book:hover) .book:not(:hover) {
  scale: 0.98;
  border-radius: 8px;
}

.bookshelf:has(.book:hover) .book {
  border-top: 1px solid black;
}

.bookshelf:has(.book:hover) :nth-child(3):hover  {
  border-top: none;
  border-inline: none;
}

.bookshelf:not(:has(.book:hover)) .book {
  border-inline: none;
}

/** row styling (each "book") **/

.book {
  gap: 2em;
  justify-content: space-between;
  transition: scale 200ms ease-in-out, border-radius 150ms linear;
}

.book * {
  font-weight: 400;
}

form {
  padding: 1em 4em;

  display: grid;
  grid-template-columns: 0.8fr 0.6fr 0.5fr 0.25fr 0.35fr;
  align-items: center;
  gap: 1em;

  border-bottom: 1px solid black;
}

form + .book,
.book + .book {
  border-top: none;
}

.book,
.headings {
  padding: 1em 4em;
  min-height: 80px;
  border: 1px solid gray;

  display: flex;
  gap: 1em;

  align-items: center;
}

.book h2,
.headings h2{
  flex: 1;
}

.book h3,
.headings h3 {
  flex: 0.75;
}

.book h2,
.book h3 {
  padding-left: 15px;
}

.book h2 {
  max-width: 475px;
}

.book h3 {
  max-width: 380px;
}

.book p {
  max-width: 350px;
  padding-left: 61px;
}

.book p,
.headings p{
  flex: 0.55;
}

/** column headings **/

.headings {
  border: none;
  border-bottom: 3px solid black;
  font-weight: 600;
}

.headings > * {
  font-size: 2.2rem;
}

.headings > p {
  text-align: right;
}

.headings > p:first-of-type {
  text-align: left;
}

.headings > p:not(:first-of-type) {
  flex: 0.45;
}

.headings > p:last-of-type {
  flex: 0.35;
}

/** form-inputs (first row) **/

.form-row {
  display: flex;
}

.form-row label {
  display: none;
}

.form-row.title {
  grid-column: 1;
}

.form-row.author {
  grid-column: 2;
}

.form-row.page-count {
  grid-column: 3;
}

.form-row.read-status {
  grid-column: 4;
  justify-self: end;
}

.form-row.add-book-button-row {
  grid-column: 5;
  justify-self: end;
  display: flex;
}

.github-creator {
  float: right;
}

/* components */

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  flex: 0.4 0 auto;
}

input,
button {
  border-radius: 2em;
}

button {
  padding: 0.75em 1em;
  border: none;

  flex: 1;
  max-width: 150px;
  font-size: 1.1rem;
}

.submit-button {
  background-color: var(--clr-add-book-button);
  min-width: 150px;
}

button:hover {
  cursor: pointer;
  font-weight: 600;
}

.remove-button {
  background-color: var(--clr-remove-button);
}

.read-button.not-read {
  background-color: var(--clr-read-button-not-read);
}

input {
  border: 1px solid gray;
  padding: 0.5em 1em;
}

input:hover {
  border: 2px solid gray;
}

input:focus {
  outline: none;
  box-shadow: 0 0.1em 0.25em .03em rgb(0 0 0 / 0.3);
}

input[type="number"] {
  align-self: baseline;
}

/** Custom checkbox **/

input[type="checkbox"] {
  appearance: none;
  font: inherit;
  color: gray;
  margin: 0;
  width: 2em;
  height: 2em;
  border: 1px solid gray;
  border-radius: 10.4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: '';
  width: 1.6em;
  height: 1.5em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--clr-checkbox-checked);
  border-radius: 8px;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:hover,
input[type="checkbox"]:focus {
  cursor: pointer;
  border: 2px solid black;
}