@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
  --clr-bookshelf: rgb(114, 76, 6);
  --clr-remove-button: rgba(242, 146, 116, 1);
  --clr-read-button-read: rgba(132, 251, 194, 1);
  --clr-read-button-not-read: rgba(194, 194, 194, 1);
  --clr-add-book-button: rgba(251, 242, 163, 1);
  
  --clr-remove-button-hover: rgb(177, 15, 15);
  --clr-read-button-hover: rgb(68, 68, 68);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 1em 6em;
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(45deg, rgba(250, 189, 189, 0.575), rgba(164, 241, 238, 0.568));
  background-attachment: fixed;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 2.2rem;
}

.main-content {
  width: 100%;
  height: 100%;
}

.bookshelf {
  margin-bottom: 2em;
}

form {
  padding: 1em 4em;

  display: grid;
  grid-template-columns: 0.8fr 0.6fr 0.5fr .25fr 0.35fr;
  align-items: center;
  gap: 1em;
}

.book + .book {
  border-top: none;
}

.book,
.headings {
  padding: 1em 4em;
  min-height: 80px;
  border: 1px solid black;

  display: flex;
  gap: 1em;

  align-items: center;

  transition: scale 350ms ease, border-radius 350ms linear;
}

.book h2,
.headings  h2{
  flex: 1;
}

.form-row.title {
  grid-column: 1;
}

.book h3,
.headings h3 {
  flex: 0.75;
}

.form-row.author {
  grid-column: 2;
}

.book p,
.headings p{
  flex: 0.55;
}

.form-row.page-count {
  grid-column: 3;

}

.form-row.read-status {
  grid-column: 4;
  justify-self: end;
}

.form-row.add-book-button {
  grid-column: 5;
  justify-self: end;
  
  display: flex;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  flex: 0.4 0 auto;
}

button {
  padding: 0.75em 1em;
  border: none;
  border-radius: 2em;

  flex: 1;
  max-width: 150px;
}

button:hover {
  cursor: pointer;
}

.remove-button {
  background-color: var(--clr-remove-button);
}

.read-button.not-read {
  background-color: var(--clr-read-button-not-read);
}

.headings {
  border: none;
  border-bottom: 3px solid black;

  font-weight: 600;
}

.headings > * {
  font-size: 2.2rem;
}

.headings > p {
  text-align: right;
}

.headings > p:first-of-type {
  text-align: left;
}

.headings > p:not(:first-of-type) {
  flex: 0.45;
}

.headings > p:last-of-type {
  flex: 0.35;
}

.bookshelf {
  padding-inline: 0;
  width: 100%;
  min-height: 90%;
  border-radius: 6px;
  background-color: white;

  display: flex;
  flex-direction: column;

  position: relative;

  box-shadow: 0 8px 0.75rem 0.2rem rgb(0 0 0 / 0.3);
}

.bookshelf:has(.book:hover) .book:not(:hover) {
  scale: 0.95;
  border-radius: 8px;
}

.bookshelf:has(.book:hover) .book {
  border-top: 1px solid black;
}

.form-row label {
  display: none;
}

input {
  border: 1px solid gray;
  padding: 0.5em 1em;
  border-radius: 2em;
}

input[type="number"] {
  align-self: baseline;
}

.submit-button {
  border-radius: 2em;
  background-color: var(--clr-add-book-button);
  min-width: 150px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgb(193, 241, 148);
}

#read-complete {
  margin-right: 10px;
}